<%= simple_form_for(@booking) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-imputs">
    <%= f.input :check_in %>
    <%= f.input :check_out %>

  </div>

  <div class="form_actions">
  <%= f.button :submit %>
  </div>
<% end %>
