<div class="container pt-5">
  <h1 strong center><%= @place.name %></h1>
  <%= cl_image_tag @place.photo.key, height: 300, width: 400, crop: :fill %>
  <blockquote class="blockquote border-start border-5 ps-3 mt-3">
    <p><%= @place.address %>, <%= @place.nation %></p>
    <figcaption class="blockquote-footer">
      <cite title="Source Title">Ubicacion</cite>
    </figcaption>
  </blockquote>
</div>

<div class="container m-3 border-start border-5">
  <%= link_to 'Edit', edit_place_path, class: 'btn btn-primary' %>
</div>
